.el-container,
.el-main,
.el-header {
	padding: 0;
}

.el-header {
	/* border-bottom: 1px solid #42B983; */
	/* line-height: 60px; */
	text-align: right;
}
.el-footer{
	text-align: right;
	padding-right: 7px;
}
.float-right{
	float: right;
}
.el-button {
	padding: 6px 10px;
}